<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Predict</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <h3>Please Input your files here:</h3>
        <input type="file" name="document1" id="text-1" required/>
        <input type="file" name="document2" id="text-1" required/>
        <button type="submit">Submit</button>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}


</body>

</html>